client
nobind
dev tun
key-direction 1
remote-cert-tls server

remote {{ openvpn_client_server_ip }} {{ openvpn_client_server_port }} {{ openvpn_client_server_protocol }}


<key>
{{ client_key_content }}
</key>
<cert>
{{ client_certificate_content }}
</cert>
<ca>
{{ ca_certificate_content }}
</ca>
<tls-auth>
{{ tls_auth_key_content }}
</tls-auth>

key-direction 1

auth-nocache
comp-lzo
reneg-sec {{ openvpn_client_reneg_sec }}
